version: '3.7'
{% if portainer__network != "" %}

networks:
  default:
    name: {{ portainer__network }}
    external: true

{% endif %}
services:
  portainer:
    image: portainer/portainer-ce:latest
    container_name: portainer
    restart: unless-stopped
    #security_opt:
    #  - no-new-privileges:true
    ports:
      - 9443:9443
      - 9000:9000
      - 8000:8000
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - {{ docker__path }}/portainer/data:/data
    environment:
      TZ: "{{ timezone }}"
    labels:
      com.centurylinklabs.watchtower.enable: true
      diun.enable: false